h3.odometer {
    color: #fff;
}

.main-slider__content,
h2.main-slider__title {
    text-align: left;
}

@media only screen and (max-width: 600px) {

    .main-slider .item,
    .services-one {
        padding: 25px 0 !important;
    }

    .main-menu__logo {
        padding: 5px 0;
    }

    .mobile-nav__content .logo-box {
        margin-bottom: 10px;
    }
}